<template>
  <div class="dashboard-container">
    <filter-component></filter-component>
    <Upcoming></Upcoming>
    <search-results></search-results>
    <Latest></Latest>
  </div>
</template>

<script>
import axios from 'axios';
import Latest from '@/components/Latest.component.vue';
import Upcoming from '@/components/Upcoming.component.vue';
import SearchResults from '@/components/SearchResults.component.vue';
import FilterComponent from '@/components/filter.component.vue';

export default {
  name: 'Dashboard',
  data() {
    return {
      movies: '',
    };
  },
  components: {
    Latest,
    Upcoming,
    SearchResults,
    FilterComponent,
  },
  props: {},
  methods: {},
  computed: {},
};
</script>

<style></style>
