<template>
  <v-toolbar flat color="secondary" height="40">
    <v-spacer></v-spacer>
    <v-toolbar-items>
      <v-btn text color="indigo darken-3" @click="getPopularMovies()">Popular Movies</v-btn>
      <v-btn text color="indigo darken-3" @click="nowPlaying()">Now Playing in Theaters</v-btn>
      <v-btn text color="indigo darken-3" @click="getRecentMovies()">This year releases</v-btn>
      <v-btn text color="indigo darken-3" disabled>Coming Soon</v-btn>
      <v-btn text color="indigo darken-3" disabled>Kids Movies</v-btn>
    </v-toolbar-items>
    <v-spacer></v-spacer>
  </v-toolbar>
</template>

<script>
import DiscoverService from '../services/discover.service';
import common from '@/helpers/Common.helper';
import MessageConstants from '../helpers/Messages.constants';

export default {
  name: 'FilterComponent',
  mixins: [common],
  data() {
    return {
      bg: true,
    };
  },
  methods: {
    getPopularMovies() {
      DiscoverService.getPopularMovies().then((result) => {
        this.updateResult(result, MessageConstants.popular, DiscoverService.getPopularMovies);
      });
    },
    nowPlaying() {
      DiscoverService.getNowPlaying().then((result) => {
        this.updateResult(
          result,
          MessageConstants.nowPlayingInTheater,
          DiscoverService.getNowPlaying,
        );
      });
    },
    getRecentMovies() {
      DiscoverService.getRecentMovies().then((result) => {
        this.updateResult(
          result,
          MessageConstants.thisYearReleases,
          DiscoverService.getRecentMovies,
        );
      });
    },

    updateResult(result, title, serviceMethod) {
      const ListData = result.getData();
      this.$eventHub.$emit('MovieListUpdate', { list: ListData, title });
    },
  },
};
</script>

<style lang="scss" scoped></style>>
