<template>
  <v-app-bar flat app color="primary" light>
    <div class="d-flex align-center">
      <v-img
        alt="TMDb Logo"
        class="shrink mr-2"
        contain
        src="https://www.themoviedb.org/assets/2/v4/logos/293x302-powered-by-square-green-3ee4814bb59d8260d51efdd7c124383540fc04ca27d23eaea3a8c87bfa0f388d.png"
        transition="scale-transition"
        width="40"
      />
      <span class="white--text">Centerstage - The Movie Db</span>
    </div>

    <v-spacer md="1"></v-spacer>
    <search-component class="d-none d-sm-flex"></search-component>
    <v-spacer></v-spacer>
    <v-btn target="_blank" text>
      <span class="mr-2 white--text">V 1.0</span>
      <v-icon color="white">mdi-open-in-new</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script>
import SearchComponent from '@/components/Search.component.vue';

export default {
  name: 'HeaderComponent',
  components: { SearchComponent },
};
</script>

<style></style>
