<template>
  <div class="d-flex justify-centere align-middle">
    <img src="/no-data.png" alt="No Data Found" />
  </div>
</template>

<script>
export default {
  name: 'NoDataComponent',
};
</script>

<style>
</style>
