<template>
  <div class="text-center">
    <v-pagination v-model="page" :length="length" circle @input="updatePageInfo()"></v-pagination>
  </div>
</template>

<script>
import common from '../helpers/Common.helper';

export default {
  name: 'PaginationComponent',
  mixins: [common],
  props: {
    length: { type: [Number, String], default: 1, required: false },
  },
  data() {
    return {
      page: 1,
    };
  },
  created() {
    this.updatePageInfo();
  },
  methods: {
    updatePageInfo() {
      // eslint-disable-next-line no-debugger
      // // this.request.current().then((result) => {
      // //   this.$eventHub.$emit(MovieListUpdate, {
      // //     list: result.getData(),
      // //     title: this.dashboardTitle,
      // //   });
      // });
    },
  },
};
</script>

<style></style>
