<template>
  <v-col md="6" xs="2" sm="3">
    <!--eslint-disable-next-line max-len-->
    <input
      type="input"
      v-model="searchString"
      @keydown="updateEvent"
      placeholder="Search Movies"
      class="display-2 font-weight-thin"
    />
    <v-divider dark></v-divider>
  </v-col>
</template>

<script>
import common from '@/helpers/Common.helper';

export default {
  name: 'SearchComponent',
  mixins: [common],
  data() {
    return {
      searchString: '',
    };
  },
  methods: {
    // eslint-disable-next-line func-names
    updateEvent: _.debounce(function (e) {
      this.$eventHub.$emit('searchUpdate', this.searchString);
    }, 500),
  },
};
</script>

<style lang="scss" scoped>
input {
  width: 100%;
  border: 0px;
  border-bottom: 1px #fff;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  padding: 0.25rem;
  text-decoration: none;
  font-size: 2rem;
  &:focus {
    outline-width: 0;
  }
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
}
</style>
