<template>
  <v-container>
    <h1 class="primary--text pa-2 text-uppercase font-weight-light display-3">
      {{ pageTitle }}
    </h1>
    <v-divider dark></v-divider>
    <div class="mt-4" id="results-wrapper" v-if="movies && movies.length > 1">
      <v-row no-gutters>
        <v-col v-for="item in movies" :key="item.id" cols="12" sm="4" md="3">
          <v-card class="ma-2" max-width="344" color="transparent" flat>
            <v-img :src="poster(item.poster_path) || missingImage()" height="400"></v-img>

            <v-card-title class="grey--text">{{
              item.original_title || item.original_name
            }}</v-card-title>
            <v-card-subtitle class="white--text">{{
              item.release_date || item.first_air_date
            }}</v-card-subtitle>

            <v-spacer></v-spacer>
          </v-card>
        </v-col>
      </v-row>
      <pagination-component :length="paging.totalPages"></pagination-component>
    </div>
    <div class="d-flex justify-center align-middle wrap" v-else>
      <no-data-component></no-data-component>
    </div>
  </v-container>
</template>

<script>
import common from '@/helpers/Common.helper';
import NoDataComponent from '@/components/NoData.component.vue';
import SearchService from '../services/search.service';
import MessageConstants from '../helpers/Messages.constants';
import DiscoverService from '../services/discover.service';
import MediaEnums from '@/models/mediatype.enums';
import PaginationComponent from '@/components/pagination.component.vue';

export default {
  name: 'SearchResultComponent',
  data() {
    return {
      items: null,
      title: null,
      paging: {
        currentPage: null,
        totalPages: null,
      },
    };
  },
  mixins: [common],
  components: { NoDataComponent, PaginationComponent },

  mounted() {
    this.getPopularMovies();
  },
  created() {
    this.$eventHub.$on('MovieListUpdate', (val) => {
      this.updatePrefetchedResults(val);
    });
    this.$eventHub.$on('searchUpdate', (val) => {
      if (val === '' || val === undefined) {
        this.getPopularMovies();
      } else {
        this.getUpdatedResult(val);
      }
    });
  },
  methods: {
    getUpdatedResult(val) {
      SearchService.getMultiSearch(val).then((result) => {
        this.movies = result.getData().results.filter(item => this.isVideoType(item));
        this.pageTitle = MessageConstants.searchedResults;
        this.pagingInfo(result.getData());
      });
    },
    getPopularMovies() {
      DiscoverService.getPopularMovies().then((result) => {
        this.movies = result.getData().results;
        this.pageTitle = MessageConstants.popular;
        this.pagingInfo(result.getData());
      });
    },
    updatePrefetchedResults(collection) {
      this.movies = collection.list.results;
      this.pageTitle = collection.title;
      this.pagingInfo(collection.list);
    },

    pagingInfo(result) {
      this.paging.currentPage = result.page;
      this.paging.totalPages = result.total_pages;
    },
  },
  computed: {
    pageTitle: {
      get() {
        return this.title;
      },
      set(val) {
        this.title = val;
      },
    },
    movies: {
      get() {
        return this.items;
      },
      set(list) {
        this.items = list;
      },
    },
  },
};
</script>

<style></style>
