<template>
  <v-app>
    <header-component></header-component>
    <v-content>
      <Dashboard />
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import HeaderComponent from '@/components/header.component.vue';
import Dashboard from '@/views/dashboard.view.vue';

export default Vue.extend({
  name: 'App',

  components: {
    HeaderComponent,
    Dashboard,
  },

  data: () => ({
    //
  }),
});
</script>
<style lang="scss" scoped>
body {
  background-color: #263238;
}
</style>
